{:deps
 {org.clojure/clojure   {:mvn/version "1.12.3"}
  org.clojure/data.csv  {:mvn/version "1.1.0"}
  org.clojure/tools.cli {:mvn/version "1.2.245"}
  org.babashka/sci       {:mvn/version "0.10.49"}}

 :paths ["src" "classes"]

 :aliases
 {:bench {:extra-deps {criterium/criterium {:mvn/version "0.4.6"}}}
  :test  {:extra-paths ["test"]
          :extra-deps  {io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
          :main-opts   ["-m" "cognitect.test-runner"]
          :exec-fn     cognitect.test-runner.api/test}}}
