name: banks2ledger

on:
  push:
    branches: [ main ]
    ignore_tags: "**"
  pull_request:
    branches: "**"

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Run tests
        uses: turtlequeue/setup-babashka@v1.5.0
        with:
          babashka-version: 0.8.157-SNAPSHOT
          babashka-url: https://29579-201467090-gh.circle-artifacts.com/0/release/babashka-0.8.157-SNAPSHOT-linux-amd64-static.tar.gz

      - name: Check bb runs
        run: ./test.sh
