name: banks2ledger

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Install clojure tools
        uses: DeLaGuardo/setup-clojure@master
        with:
          bb: latest
          clj-kondo: latest
          cljstyle: latest

      - name: Get clj-kondo version
        run: clj-kondo --version

      - name: Get cljstyle version
        run: cljstyle version

      - name: Check code formatting
        run: cljstyle check

      - name: Run checks
        run: clj-kondo --lint src

      - name: Run tests
        run: bb ./test.clj
