name: banks2ledger

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: 0918nobita/setup-cljstyle@v0.5.4
      - run: cljstyle check

      - uses: DeLaGuardo/setup-clj-kondo@master
        with:
          version: '2022.12.10'
      - name: Run checks
        run: clj-kondo --lint src

      - name: Setup Babashka
        uses: turtlequeue/setup-babashka@v1.5.0
        with:
          babashka-version: 1.0.168

      - name: Run tests
        run: bb ./test.clj
